@page "/filetest"
@inject HttpClient Http

<div class="container">
    <div class="row row-no-gutters">
        <div class="col-sm-10">
            <div class="card border-0 shadow-sm">
                <div class="card-header border-0">
                    <h4 class=" text-center"> File Readability Test</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="fileInput">Select a text file.</label>
                            <InputFile  OnChange="HandleFileSelected" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Check Readability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<h4>Work in Progress</h4>
@if (file != null)
{@if (file.Type != "text/plain")
    {
        <p>This is not text file.</p>
    }
<p>Name: @file.Type</p>
<p>Size in bytes: @file.Size</p>
<p>Last modified date: @file.LastModified.ToShortDateString()</p>
<p>Content type (not always supplied by the browser): @file.Type</p>


}
@code {
    IFileListEntry file;

    public void HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
    }
}